*, *::before, *::after {
  box-sizing: border-box;
}

.section-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.title,
.para {
  font-kerning: normal;
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  word-spacing: 0.15em;
}
@media only screen and (max-width: 1600px) {
  .section-container {
    max-width: 1200px;
    padding: 0 80px;
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    max-width: 900px;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    max-width: var(--cWidth);
    padding: 0 15px;
  }
}
